.app {
  height: 100vh;
  display: flex;

  &__logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  &__navigation {
    background-color: #eeeff2;
    height: 100vh;
  }

  &__menu {
    background-color: transparent;

    .ant-menu-item-selected {
      background-color: #dddfe4 !important;
      font-weight: 600;
      color: #000;
    }
  }

  &__main {
    flex: 1;
  }
}


